body {
    font-family: "Bai Jamjuree", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    background-color: #F0F2F5;
}

* {
    box-sizing: border-box;
}

h1,h2,h3 {
    margin-bottom: 10px;
    color: #25356d;
}

p {
    padding: 2px;
    margin: 2px;
}

button{
    cursor: pointer;
}

.menuAll {
    width: 230px;
    height: 100vh;
    display: block;
    background-color: #e9e9e9;
    position: fixed;
    top: 0px;
    padding-top: 30px 0px;
    box-shadow: 2px 5px 20px rgb(22 20 19 / 40%);
}

.menu {
    padding: 0px;
    margin: 0px;
}


.title_hou {
    padding: 35px;
    color: #355895;
    font-size: 18px;
    border-bottom: 2px solid #355895 ;
    
}

.menu_item {
    list-style: none;
    color: #3a3c3f;
    font-size: 14px;
}

.menu_item  a  {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 10px 20px;
    color: #3a3c3f;
    text-decoration: none;
}

.menu_item:hover {
    background-color: #c4c4c4;
    cursor: pointer;
}

.info {
    padding-left: 282px;
}

.information_message_user {
    min-width: 500px;
    margin: 5px;
    padding: 20px 60px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #c4c4c4;
    border-radius: 10px 10px 30px 10px;
    box-shadow: 2px 10px 40px rgba(44, 40, 38, 0.4);
}
.information_message_user p {
    color: rgb(88, 88, 236);
    
}
.add_info {
    margin-bottom: 8px;
}

.input__style {
    font-family: "Bai Jamjuree", sans-serif;
    background: rgb(233, 233, 233);
    margin: auto 0px;
    font-size: 18px;
    line-height: 32px;
    border: none ;
    cursor: text;
    color: rgb(63, 63, 63);
    height: 32px;
    border-radius: 3px;
    width: 240px;
    text-align: left;
    padding-left: 10px;
}

.input__style:focus {
    background: rgb(233, 233, 233);
    border: none;
    outline-width: 0;
}

.input__style::placeholder {
    color:  rgb(63, 63, 63);
}

.delete {
    background-color: rgb(180, 12, 12) !important; 
}

.input__style2 {
    font-family: "Bai Jamjuree", sans-serif;
    background: rgb(233, 233, 233);
    margin: auto 0px;
    font-size: 14px;
    line-height: 15px;
    border: none ;
    cursor: text;
    color: rgb(12, 12, 12);
    height: 32px;
    border-radius: 3px;
    width: 90px;
    text-align: left;
    padding-left: 10px;
}

.input__style2:focus {
    background: rgb(233, 233, 233);
    border: none;
    outline-width: 0;
}

.input__style2::placeholder {
    color:  rgb(124, 124, 124);
}

.btn3 {
    font-family: "Bai Jamjuree", sans-serif;
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(39, 170, 225);
}

.btn2:hover , .btn3:hover {
    opacity: 0.8;
}

.search {
    margin-bottom: 20px;
}

/*
.input__style:hover {
    cursor: pointer;
}
*/

select:hover {
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #707070;
    text-align: left;
    padding: 8px;
    font-size: 13px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.clinic {
    width: calc(100%-300px); 
    border: #355895 solid 2px;
    border-radius: 10px ;
    display: flex;

}

.clinic > p {
    width: 300px;
}

.btn3_menu {
    display: none;
}

.information_message_user {
    overflow: auto;
}

#div_customer_info_service {
    position: fixed;
    top: 0px;
    left: 255px;
    padding: 10px;
    padding-bottom: 150px;
    background-color: #f0f0f0;
    overflow: auto;
    width:  calc(100% - 255px);
    height: 100%;
    display: none;   
}

#div_service_type_info {
    position: fixed;
    top: 0px;
    left: 255px;
    padding: 10px;
    background-color: #ffffff;
    width:  calc(100% - 255px);
    height: 100%;
    display: none;
    
}

#div_clinic_info {
    position: fixed;
    top: 0px;
    left: 255px;
    padding: 10px;
    background-color: #ffffff;
    width:  calc(100% - 255px);
    height: 100%;
    display: none;
}

.table_info_new {
    width:100%;
    height: calc(100% - 150px) ; 
    overflow: auto;
}

#location_clinic {
    width: 100%;
    height: calc(100% - 10px ); 
    overflow: auto;
    margin-top: 15px;
}


@media only screen and (max-width: 1200px) {
    .menuAll {
        width: 100%;
        height: auto;
    }

    .menu_button {
        display: flex;
    }

    .btn3_menu {
        display: block;
    }

    .title_hou {
        padding: 5px 30px;
    }
    .menu_item {
        padding-left: 20px;
    }

    #menu_all {
        display: none;
    }

    .info {
        padding-left: 5px;
        margin-top: 132px;
        margin-right: 10px;
    }

    #div_customer_info_service {
        top: 116px;
        left: 0px;
        width:  100%;
    }
    
    #div_service_type_info {
        top: 116px;
        left: 0px;
        width:  100%; 
    }

    #div_clinic_info {
        top: 116px;
        left: 0px;
        width:  100%; 
    }

    .table_info_new {
        width:100%;
        height: calc(100% - 350px ); 
        overflow: auto;
    }

    #location_clinic {
        width: 100%;
        height: calc(100% - 180px ); 
        overflow: auto;
    }
}

@media only screen and (max-width: 800px) {
    tr td {
        font-weight: 400 !important;
    }
}

@media only screen and (max-width: 550px) {
    .mobi {
        display: none;
    }

    .info {
        padding-left: 0px ;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .information_message_user {
        width: 100% !important;
        min-width: 100%;
        padding: 15px;
        margin: 0px;
        border: none;
        margin-top: 10px;
        border-radius: 0px;
        box-shadow: 2px 10px 40px rgb(255 255 255 / 40%);
    }
}
